<h4>Internal Server Error</h4>
@if(error) {
<h5 class="text-danger">Error: {{ error.message }}</h5>
<p class="font-weight-bold">
  Note: if you are using this error angular is not to blame for this.
</p>
<p>What to do next?</p>
<ol>
  <li>Open chrome dev tools and check the network requests</li>
  <li>Examine the URL of the failing request</li>
  <li>Reproduce the error on postman</li>
</ol>
<p class="font-weight-bold">Following is the stack trace:</p>
<code class="mt-5" style="background-color: whitesmoke">
  {{ error.details }}
</code>
}
